@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.merienda {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0 !important;
}

.ant-menu-item-selected {
  background-color: #FF6900 !important;
  color: #ffffff !important;
}

.active {
  color: #FF6900 !important;
}

/* .ant-menu-item {
  padding: 4px 16px !important;
  color: #ffffff !important;
} */


/* .ant-layout-sider-zero-width-trigger  */
.ant-layout-sider-zero-width-trigger-left {
  /* background-color: #3F0B40 !important;
  color: #ffffff !important; */
  z-index: 50 !important;
}

.footer-bg {
  background-image: url('./assets/images/banner1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.coupon-bg {
  background-image: url('./assets/images/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}